<header class="site-header">
  <nav class="main-nav">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Collective Futurecrafting Logo" class="header-logo">
    </a>
    
    <button class="menu-toggle" aria-label="Toggle menu">☰</button>
    
    <ul>
      <li><a href="{{ '/origins/' | relative_url }}">Origins</a></li>
      <li><a href="{{ '/proem/' | relative_url }}">Proem</a></li>
      <li><a href="{{ '/craft/' | relative_url }}">Craft</a></li>
      <li><a href="{{ '/resources/' | relative_url }}">Resources</a></li>
      <li><a href="{{ '/get-involved/' | relative_url }}">Get involved</a></li>
    </ul>
  </nav>
</header>