<header class="site-header">
    <div class="main-nav">
      <div class="site-title">
        <!-- Logo -->
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo" class="header-logo" />
        </a>
      </div>
      <!-- Navigation Links -->
      <ul class="nav-links">
        <li><a href="{{ '/origins/' | relative_url }}">Origins</a></li>
        <li><a href="{{ '/proem/' | relative_url }}">Proem</a></li>
        <li><a href="{{ '/craft/' | relative_url }}">Craft</a></li>
        <li><a href="{{ '/get-involved/' | relative_url }}">Get Involved</a></li>
      </ul>
    </div>
  </header>